<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?=$data["lang"]["main_title"]?></title>
</head>
<body>
    <h1><?=$data["lang"]["main_title"]?></h1>
   <ul>
       <?php foreach($data["books"] as $book) { ?>
        <li>
            <a href="/detail/index/?id=<?=$book['id']?>">
                <?=$book["title"]?> - <?=$book["author"]?>
            </a></li>
       <?php } ?>
   </ul>

    <hr>
    <form method="post">
        <?=$data["lang"]["choose_lang"]?>
        <select name="lang">
            <?php foreach($data["languages"] as $key => $language) {  ?>
            <option value="<?=$key?>" <?php if($language["active"]){ ?>selected<?php } ?>>
                <?=$language["value"]?>
            </option>
            <?php } ?>
        </select>

        <input type="hidden" name="action" value="change_language">

        <button><?=$data["lang"]["submit"]?></button>
    </form>
</body>
</html>